@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.header {
  background-image: linear-gradient(#f2ccff, #ffccff, #ffccf2, #ffcce6, #ffccd9, #ffcccc);
  height: 10em;
  font-family: 'Lexend Zetta', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


