@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo|Gayathri|Lexend+Peta|PT+Sans+Narrow|Rubik|Titillium+Web&display=swap');


html {
  height: 100vh;
}

body {
  margin: 0;
  background-image: linear-gradient(#f2ccff, #ffccff, #ffccf2, #ffcce6, #ffccd9 25%, #ffcccc);
}


.header {
  height: 10em;
  font-family: 'Lexend Zetta', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: azure;
}

.mainContent {
  font-family: 'Gayathri', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}






